{% extends 'main.html' %}

{% block content %}
<style>
    .home-container{
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
    }
</style>

<h1>Home Template</h1>

<div class="home-container">
    <div>
        {% include 'StudyApp/topics_comp.html' %}
    </div>
    <div>
        <h5>{{room_count}} rooms available.</h5>
        <a href="{% url 'create-room' %}">create Room</a>
        
        {% include 'StudyApp/feed_comp.html' %}
    </div>
    <div>
        {% include 'StudyApp/activity_comp.html' %}
    </div>
</div>

{% endblock %}